// Estilo de la página "index"

.wrapperIndex {    
        padding: $paddingWrapper;
        display: grid;
        grid-template-areas:
        "navi header header"
        "navi header header"
        "navi header header"
        "car car car"
        "car car car"
        "titulo titulo titulo"
        "main main aside"
        "main main aside"
        "footer footer footer";
        gap: $gapWrapper;    
    }

    // Carousel

    .fuenteCar {    
        color: $letraCar;
        background-color: $backgroundWS;
        opacity: $opac90;
        border-radius: $radio20;
    }

    .widthCar {
        width: 100%;
        max-height: 673px;    
    }

    // Texto Main

    #sinopsis {
        margin: 6% 6%;
        background-color: $backgroundWS;
        border-style: double;
        border-color: $colorNaranja;
        border-width: $anchoBorde1;
        border-radius: $radio20;
    }

    // Aside del Index

    .openings {
        @extend aside;
        margin: auto;
        background-color: black;
        color: white;
        text-align: center;
    }

    // Media Queries

    @media screen and (max-width: 935px){

        .wrapperIndex {
            grid-template-areas:
            "navi header header header"
            "car car car car"
            "titulo titulo titulo titulo"            
            "main main main main"
            "aside aside aside aside"
            "footer footer footer footer";
        }
    
        .widthCar {
            width: 100%;
            max-height: 400px;    
        } 
    }

    @media screen and (max-width: 630px) {

        .wrapperIndex {
            grid-template-areas:
           "header"
           "navi"
           "titulo"
           "main"       
           "footer";
        }
    }

    @media screen and (max-width: 531px) {

        #sinopsis {
            margin: 0;       
        }
    }

    
