// Estilos de la página "Marina"

#listaRangos {        
    background-color: $backgroundWS;
    border-style: double;
    border-color: $bordeMarina;
    border-width: $anchoBorde1;
    border-radius: $radio20;
}

#marines {    
    margin: 10% 8%;
    background-color: $backgroundWS;
    border-style: double;
    border-color: $bordeMarina;
    border-width: $anchoBorde1;
    border-radius: $radio20;
}

#rangosMarine {    
    width: 100%;
}

.marineBtn {
    min-height: 120px;
}

.marineCard {
    width: 280px;
}

.marineList div {
    min-width: 280px;
}