@mixin textos ($radio, $margen, $backColor, $bordeColor ) {
    border-radius: $radio;
    margin: $margen;
    background-color: $backColor;
    border-color: $bordeColor;
}

@mixin tamanio ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}