// Estilo de la página Mugiwaras

#mugis p span {
    text-decoration: underline;
}

.mugiCard {
    @include textos ($radio20, 0, $colorNegro, $colorBlanco);
    font-family: $fuenteBasker;       
    color: $colorBlanco;       
    border-style: solid;
    width: 18rem;

    img {
        border-radius: $radio20;
        margin: 0;
    }
}
