// Estilos de la página "Otros Piratas"

.yonkoIntro {
    margin: 4%;
    padding: 10px;    
    border-radius: $radio20;    
    background-color: $colorNegro;
    color: $colorBlanco;
}

#yonko2 {
    @extend .yonkoIntro;    
    border: $colorNaranja double;    

    div {
        padding: 5%;

        img {
            max-width: 100%;
            border-radius: $radio20;
        }
    }
}

.estiloFlexColumn {
    display: flex;
    flex-direction: column;
}

#shichibukai {
    @extend .yonkoIntro;
}

.accordion {
    img {
        max-width: 260px;
    }
}

