// Colores

$links: red;
$letraCar: blue;
$fondoNomPag: #31A87D;
$backgroundWS: whitesmoke;
$colorNomPag: #AD3319;
$bordeNomPag: 2px #C78F95;
$letraVerde: forestgreen;
$colorBlanco: white;
$colorNegro: black;
$colorHoverNav: rgb(20, 200, 220);
$backgroundTitulo: rgb(168, 218, 218);
$bordeTitulo: orangered;
$backgroundFooter: royalblue;
$colorNaranja: orange;
$bordeMarina: powderblue;
$gradienteContactoVert: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%);
$gradienteContactoHor: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%);

// Familias de fuente

$fuenteBasker: Libre Baskerville, serif;
$fuentePlay: 'Playfair Display', serif;


// Tamaños de fuente

$fuenteMasChica: smaller;
$fuentechica: small;
$fuenteMedia: medium;
$fuenteGrande: larger;
$fuente600: 600%;
$fuente300: 300%;
$fuente200: 200%;
$fuente100: 100%;
$fuente75: 75%;
$fuente15: 15px;
$fuente12: 12px;
$fuente20: 20px;
$fuente10: 10px;

// Estilos de fuente

$fuenteItalic: italic;

// Grosores de fuente

$grosorNegrita: bolder;
$grosor600: 600;

// Opacidad

$opac100: 100%;
$opac90: 90%;
$opac80: 80%;

// Bordes

// Anchos

$anchoBorde1 : 10px;
$anchoBorde2: $anchoBorde1/2;

// Radios de borde

$radio10: 10px;
$radio20: 20px;


// Banner

$anchoBanner: 100%;
$altoBanner: 300px;
$animacTime: 2s;

// Nav
$margenNav: 5px 0;
$paddingNavLi: 10px 20px;

// Wrappers

$paddingWrapper: 0 2%;
$gapWrapper: 10px 30px;