@import "variables";
@import "general";
@import "fuentes";
@import "header";
@import "nav";
@import "titulo";
@import "index";
@import "mugiwaras";
@import "historia";
@import "marina";
@import "otrosPiratas";
@import "contacto";
@import "footer";